---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/pulls?state%5Bstate%5D=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1391486221'
      Etag:
      - '"dde26e2c7ee2cf88434938d979cb0dba"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 04 Feb 2014 03:08:31 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"e81d61340318f4e75e23991a4753a9cc"'
    body:
      encoding: UTF-8
      string: |-
        {
          "initials": "TT",
          "has_google_identity": false,
          "email": "aaron+tchtesting@substantial.com",
          "username": "tcht",
          "id": 1240260,
          "api_token": "<PIVOTAL_API_TOKEN>",
          "kind": "me",
          "projects": [
            {
              "project_name": "Tch Start Testing",
              "project_id": 1007746,
              "id": 3907566,
              "kind": "membership_summary",
              "role": "owner",
              "project_color": "e46642",
              "last_viewed_at": "2014-02-04T02:03:17Z"
            }
          ],
          "name": "Tch Testing",
          "time_zone": {
            "kind": "time_zone",
            "olson_name": "America/Los_Angeles",
            "offset": "-08:00"
          }
        }
  recorded_at: Tue, 04 Feb 2014 03:08:31 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/stories/65074482
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      X-Tracker-Project-Version:
      - '23'
      Etag:
      - '"6fd4269f6c751dc088f7badf82ba4deb"'
    body:
      encoding: UTF-8
      string: |-
        {
          "current_state": "unscheduled",
          "owned_by_id": 1240260,
          "owner_ids": [
            1240260
          ],
          "updated_at": "2014-02-04T03:08:10Z",
          "project_id": 1007746,
          "id": 65074482,
          "kind": "story",
          "estimate": 4,
          "requested_by_id": 1240260,
          "created_at": "2014-02-04T02:53:45Z",
          "url": "http://www.pivotaltracker.com/story/show/65074482",
          "name": "TEST: bin_start_starts_stories *(estimate should be set, but this story should not be started)*",
          "labels": [

          ],
          "story_type": "feature"
        }
  recorded_at: Tue, 04 Feb 2014 03:08:31 GMT
- request:
    method: put
    uri: https://www.pivotaltracker.com/services/v5/stories/65074482
    body:
      encoding: UTF-8
      string: '{"current_state":"started","owned_by_id":1240260}'
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      X-Tracker-Project-Version:
      - '24'
      Etag:
      - '"62cb3cbb855a501261d043644c578c70"'
    body:
      encoding: UTF-8
      string: |-
        {
          "name": "TEST: bin_start_starts_stories *(estimate should be set, but this story should not be started)*",
          "owned_by_id": 1240260,
          "created_at": "2014-02-04T02:53:45Z",
          "estimate": 4,
          "requested_by_id": 1240260,
          "id": 65074482,
          "updated_at": "2014-02-04T03:08:31Z",
          "kind": "story",
          "current_state": "started",
          "url": "http://www.pivotaltracker.com/story/show/65074482",
          "project_id": 1007746,
          "labels": [

          ],
          "story_type": "feature",
          "owner_ids": [
            1240260
          ]
        }
  recorded_at: Tue, 04 Feb 2014 03:08:32 GMT
recorded_with: VCR 2.8.0
