---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1406924256'
      Etag:
      - '"53335d21849e17d9dee01cf66ae54da4"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/16495552/pulls?state=open&page=0>; rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 01 Aug 2014 19:56:33 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/stories/65074482
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '31'
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "story",
          "id": 65074482,
          "project_id": 1007746,
          "name": "TEST: bin_start_starts_stories *(estimate should be set, but this story should not be started)*",
          "story_type": "feature",
          "current_state": "started",
          "estimate": 4,
          "requested_by_id": 1240260,
          "owned_by_id": 1240260,
          "owner_ids": [
            1240260
          ],
          "labels": [

          ],
          "created_at": "2014-02-04T02:53:45Z",
          "updated_at": "2014-02-22T06:38:50Z",
          "url": "https://www.pivotaltracker.com/story/show/65074482"
        }
  recorded_at: Fri, 01 Aug 2014 19:56:34 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "me",
          "id": 1240260,
          "name": "Tch Testing",
          "initials": "TT",
          "username": "tcht",
          "time_zone": {
            "kind": "time_zone",
            "olson_name": "America/Los_Angeles",
            "offset": "-07:00"
          },
          "api_token": "<PIVOTAL_API_TOKEN>",
          "has_google_identity": false,
          "projects": [
            {
              "kind": "membership_summary",
              "id": 3907566,
              "project_id": 1007746,
              "project_name": "Tch Start Testing",
              "project_color": "e46642",
              "role": "owner",
              "last_viewed_at": "2014-02-04T16:39:33Z"
            }
          ],
          "email": "aaron+tchtesting@substantial.com",
          "receives_in_app_notifications": true,
          "created_at": "2014-02-04T01:02:10Z",
          "updated_at": "2014-08-01T19:56:34Z"
        }
  recorded_at: Fri, 01 Aug 2014 19:56:34 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1406924256'
      Last-Modified:
      - Mon, 16 Jun 2014 18:19:39 GMT
      Etag:
      - '"9f4456786f33cd04d37f1a51f1004803"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":16495552,"name":"teaching-channel-start-testing","full_name":"TeachingChannel/teaching-channel-start-testing","owner":{"login":"TeachingChannel","id":5589837,"avatar_url":"https://avatars.githubusercontent.com/u/5589837?v=1","gravatar_id":"130a12e645e4e5bf49469dd15bd64618","url":"https://api.github.com/users/TeachingChannel","html_url":"https://github.com/TeachingChannel","followers_url":"https://api.github.com/users/TeachingChannel/followers","following_url":"https://api.github.com/users/TeachingChannel/following{/other_user}","gists_url":"https://api.github.com/users/TeachingChannel/gists{/gist_id}","starred_url":"https://api.github.com/users/TeachingChannel/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/TeachingChannel/subscriptions","organizations_url":"https://api.github.com/users/TeachingChannel/orgs","repos_url":"https://api.github.com/users/TeachingChannel/repos","events_url":"https://api.github.com/users/TeachingChannel/events{/privacy}","received_events_url":"https://api.github.com/users/TeachingChannel/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/TeachingChannel/teaching-channel-start-testing","description":"","fork":false,"url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing","forks_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/forks","keys_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/keys{/key_id}","collaborators_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/teams","hooks_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/hooks","issue_events_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/issues/events{/number}","events_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/events","assignees_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/assignees{/user}","branches_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/branches{/branch}","tags_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/tags","blobs_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/git/refs{/sha}","trees_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/git/trees{/sha}","statuses_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/statuses/{sha}","languages_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/languages","stargazers_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/stargazers","contributors_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/contributors","subscribers_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/subscribers","subscription_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/subscription","commits_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/commits{/sha}","git_commits_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/git/commits{/sha}","comments_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/comments{/number}","issue_comment_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/issues/comments/{number}","contents_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/contents/{+path}","compare_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/compare/{base}...{head}","merges_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/merges","archive_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/downloads","issues_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/issues{/number}","pulls_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/pulls{/number}","milestones_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/milestones{/number}","notifications_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/labels{/name}","releases_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/releases{/id}","created_at":"2014-02-03T22:40:49Z","updated_at":"2014-06-16T18:19:39Z","pushed_at":"2014-08-01T19:56:33Z","git_url":"git://github.com/TeachingChannel/teaching-channel-start-testing.git","ssh_url":"git@github.com:TeachingChannel/teaching-channel-start-testing.git","clone_url":"https://github.com/TeachingChannel/teaching-channel-start-testing.git","svn_url":"https://github.com/TeachingChannel/teaching-channel-start-testing","homepage":null,"size":892,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"develop","permissions":{"admin":false,"push":true,"pull":true},"organization":{"login":"TeachingChannel","id":5589837,"avatar_url":"https://avatars.githubusercontent.com/u/5589837?v=1","gravatar_id":"130a12e645e4e5bf49469dd15bd64618","url":"https://api.github.com/users/TeachingChannel","html_url":"https://github.com/TeachingChannel","followers_url":"https://api.github.com/users/TeachingChannel/followers","following_url":"https://api.github.com/users/TeachingChannel/following{/other_user}","gists_url":"https://api.github.com/users/TeachingChannel/gists{/gist_id}","starred_url":"https://api.github.com/users/TeachingChannel/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/TeachingChannel/subscriptions","organizations_url":"https://api.github.com/users/TeachingChannel/orgs","repos_url":"https://api.github.com/users/TeachingChannel/repos","events_url":"https://api.github.com/users/TeachingChannel/events{/privacy}","received_events_url":"https://api.github.com/users/TeachingChannel/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":5}'
  recorded_at: Fri, 01 Aug 2014 19:56:35 GMT
- request:
    method: post
    uri: https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/pulls
    body:
      encoding: UTF-8
      string: '{"base":"develop","head":"feature/bin_start_starts_stories","title":"TEST:
        bin_start_starts_stories *(estimate should be set, but this story should not
        be started)*","body":"https://www.pivotaltracker.com/story/show/65074482\n\n###
        Browser Testing\n\n- [ ] Test in IE9\n- [ ] Test in IE10\n- [ ] Test in IE11\n-
        [ ] Test in Firefox\n- [ ] Test in Safari\n- [ ] Test in Chrome\n\n### CSS\n\n-
        [ ] New CSS is added to style engine and follows [guidelines](https://github.com/TeachingChannel/teaching-channel/blob/master/GUIDELINES[...]
- request:
    method: get
    uri: https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1406924256'
      Etag:
      - '"2d4c952e3f2bd044432145cfe4cc6572"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/pulls/21","id":19230507,"html_url":"https://github.com/TeachingChannel/teaching-channel-start-testing/pull/21","diff_url":"https://github.com/TeachingChannel/teaching-channel-start-testing/pull/21.diff","patch_url":"https://github.com/TeachingChannel/teaching-channel-start-testing/pull/21.patch","issue_url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/issues/21","number":21,"state":"open","title":"TEST:
        bin_start_starts_stories *(estimate should be set, but this story should not
        be started)*","user":{"login":"tchtesting","id":6580749,"avatar_url":"https://avatars.githubusercontent.com/u/6580749?v=1","gravatar_id":"e35694435b1ff6965d87ba35b7a70e83","url":"https://api.github.com/users/tchtesting","html_url":"https://github.com/tchtesting","followers_url":"https://api.github.com/users/tchtesting/followers","following_url":"https://api.github.com/users/tchtesting/following{/other_user}","gists_url":"https://api.github.com/users/tchtesting/gists{/gist_id}","starred_url":"https://api.github.com/u[...]
- request:
    method: get
    uri: https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/issues/21/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1406924256'
      Last-Modified:
      - Fri, 01 Aug 2014 19:56:36 GMT
      Etag:
      - '"53335d21849e17d9dee01cf66ae54da4"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/16495552/issues/21/labels?page=0>; rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 01 Aug 2014 19:56:37 GMT
- request:
    method: put
    uri: https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/issues/21/labels
    body:
      encoding: UTF-8
      string: '["WIP"]'
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1406924256'
      Etag:
      - '"45c4de1ee23d5ec4c9f7f4a92a07e636"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/TeachingChannel/teaching-channel-start-testing/labels/WIP","name":"WIP","color":"fbca04"}]'
  recorded_at: Fri, 01 Aug 2014 19:56:38 GMT
recorded_with: VCR 2.8.0
