---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/stories/65069954
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"a1996719dbe87ce81ea8d62c3bebc10e"'
      X-Tracker-Project-Version:
      - '31'
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "story",
          "requested_by_id": 1240260,
          "estimate": 4,
          "labels": [

          ],
          "owner_ids": [

          ],
          "id": 65069954,
          "created_at": "2014-02-04T01:02:39Z",
          "updated_at": "2014-02-04T01:54:20Z",
          "url": "http://www.pivotaltracker.com/story/show/65069954",
          "story_type": "feature",
          "project_id": 1007746,
          "name": "TEST: pivotal_tracker_api_story",
          "current_state": "unscheduled"
        }
  recorded_at: Fri, 11 Apr 2014 17:17:43 GMT
recorded_with: VCR 2.8.0
