---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/stories/65069954
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      X-Tracker-Project-Version:
      - '14'
      Etag:
      - '"8c06ab3f1f92099b0c4ebc4775656542"'
    body:
      encoding: UTF-8
      string: |-
        {
          "current_state": "unscheduled",
          "owner_ids": [

          ],
          "updated_at": "2014-02-04T01:54:20Z",
          "project_id": 1007746,
          "id": 65069954,
          "kind": "story",
          "estimate": 4,
          "requested_by_id": 1240260,
          "created_at": "2014-02-04T01:02:39Z",
          "url": "http://www.pivotaltracker.com/story/show/65069954",
          "name": "TEST: pivotal_tracker_api_story",
          "labels": [

          ],
          "story_type": "feature"
        }
  recorded_at: Tue, 04 Feb 2014 02:40:41 GMT
recorded_with: VCR 2.8.0
