---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/stories/65072638
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"520723207a9ac25967e0eedd67886bce"'
      X-Tracker-Project-Version:
      - '30'
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "story",
          "requested_by_id": 1240260,
          "description": "This story should have no estimate in it to properly test the update.",
          "labels": [

          ],
          "owner_ids": [

          ],
          "id": 65072638,
          "created_at": "2014-02-04T01:55:49Z",
          "updated_at": "2014-02-04T02:51:52Z",
          "url": "http://www.pivotaltracker.com/story/show/65072638",
          "story_type": "feature",
          "project_id": 1007746,
          "name": "TEST: pivotal_tracker_api_update_story *(estimate should not be set)*",
          "current_state": "unscheduled"
        }
  recorded_at: Fri, 11 Apr 2014 17:17:41 GMT
- request:
    method: put
    uri: https://www.pivotaltracker.com/services/v5/stories/65072638
    body:
      encoding: UTF-8
      string: '{"estimate":8}'
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"9e3b83e5b6ec14028bb7c34fb3910cae"'
      X-Tracker-Project-Version:
      - '31'
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "story",
          "requested_by_id": 1240260,
          "description": "This story should have no estimate in it to properly test the update.",
          "estimate": 8,
          "labels": [

          ],
          "owner_ids": [

          ],
          "id": 65072638,
          "created_at": "2014-02-04T01:55:49Z",
          "updated_at": "2014-04-11T17:17:39Z",
          "url": "http://www.pivotaltracker.com/story/show/65072638",
          "story_type": "feature",
          "project_id": 1007746,
          "name": "TEST: pivotal_tracker_api_update_story *(estimate should not be set)*",
          "current_state": "unscheduled"
        }
  recorded_at: Fri, 11 Apr 2014 17:17:42 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/stories/65072638
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"9e3b83e5b6ec14028bb7c34fb3910cae"'
      X-Tracker-Project-Version:
      - '31'
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "story",
          "requested_by_id": 1240260,
          "description": "This story should have no estimate in it to properly test the update.",
          "estimate": 8,
          "labels": [

          ],
          "owner_ids": [

          ],
          "id": 65072638,
          "created_at": "2014-02-04T01:55:49Z",
          "updated_at": "2014-04-11T17:17:39Z",
          "url": "http://www.pivotaltracker.com/story/show/65072638",
          "story_type": "feature",
          "project_id": 1007746,
          "name": "TEST: pivotal_tracker_api_update_story *(estimate should not be set)*",
          "current_state": "unscheduled"
        }
  recorded_at: Fri, 11 Apr 2014 17:17:42 GMT
recorded_with: VCR 2.8.0
