---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - <PIVOTAL_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"99739549742ff0cda850a10841def930"'
    body:
      encoding: UTF-8
      string: |-
        {
          "api_token": "<PIVOTAL_API_TOKEN>",
          "kind": "me",
          "has_google_identity": false,
          "email": "aaron+tchtesting@substantial.com",
          "username": "tcht",
          "receives_in_app_notifications": true,
          "initials": "TT",
          "time_zone": {
            "kind": "time_zone",
            "olson_name": "America/Los_Angeles",
            "offset": "-07:00"
          },
          "id": 1240260,
          "name": "Tch Testing",
          "projects": [
            {
              "project_name": "Tch Start Testing",
              "kind": "membership_summary",
              "role": "owner",
              "id": 3907566,
              "last_viewed_at": "2014-02-04T16:39:33Z",
              "project_color": "e46642",
              "project_id": 1007746
            }
          ]
        }
  recorded_at: Fri, 11 Apr 2014 17:17:44 GMT
recorded_with: VCR 2.8.0
